body {
  margin: 0;
  min-height: 100vh;
}

@font-face {
  font-family: "bpg";
  src: local("bpg"), url("./assets/fonts/bpg.ttf") format("truetype");
}

@font-face {
  font-family: "arial";
  src: local("arial"), url("./assets/fonts/arial.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
