body {
  margin: 0;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e79ba;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "bpg";
  src: local("bpg"), url("./assets/fonts/bpg.ttf") format("truetype");
}

@font-face {
  font-family: "arial";
  src: local("arial"), url("./assets/fonts/arial.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
